<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SoftCommerce_Core::softcommerce_core">
                    <resource id="SoftCommerce_Core::configuration">
                        <resource id="SoftCommerce_UrlRewriteGenerator::url_rewrite_generator_config" title="URL Rewrite Generator Configuration" translate="title" sortOrder="20"/>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="Magento_Backend::convert">
                        <resource id="SoftCommerce_UrlRewriteGenerator::import_export" title="Import/Export URL rewrites" sortOrder="30" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
