<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- CLI -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="url_rewrite_delete" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\DeleteUrlRewrite</item>
                <item name="url_rewrite_category_generate" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateCategoryUrl</item>
                <item name="url_rewrite_product_generate" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateProductUrl</item>
            </argument>
        </arguments>
    </type>
    <type name="SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateCategoryUrl">
        <arguments>
            <argument name="urlRewrite" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Model\CategoryUrlRewrite</argument>
        </arguments>
    </type>
    <type name="SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateProductUrl">
        <arguments>
            <argument name="urlRewrite" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Model\ProductUrlRewrite</argument>
        </arguments>
    </type>
</config>
