<?xml version="1.0"?>
<!--
/**
 * Copyright © Soft Commerce Ltd. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- CLI -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="url_rewrite_delete" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\DeleteUrlRewrite</item>
                <item name="url_rewrite_category_generate" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateCategoryUrl</item>
                <item name="url_rewrite_product_generate" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateProductUrl</item>
            </argument>
        </arguments>
    </type>
    <type name="SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateCategoryUrl">
        <arguments>
            <argument name="urlRewrite" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Model\CategoryUrlRewrite</argument>
        </arguments>
    </type>
    <type name="SoftCommerce\UrlRewriteGenerator\Console\Command\GenerateProductUrl">
        <arguments>
            <argument name="urlRewrite" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Model\ProductUrlRewrite</argument>
        </arguments>
    </type>
    <!-- Logger -->
    <virtualType name="SoftCommerce\UrlRewriteGenerator\VirtualStreamHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/url-rewrite-generator.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="SoftCommerce\UrlRewriteGenerator\VirtualRotationStreamHandler" type="SoftCommerce\Core\Logger\Handler\RotationSteamHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/url-rewrite-generator.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="SoftCommerce\UrlRewriteGenerator\VirtualLogger" type="SoftCommerce\Core\Logger\LogProcessor">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">SoftCommerce\UrlRewriteGenerator\VirtualStreamHandler</item>
                <item name="rotation_debug" xsi:type="object">SoftCommerce\UrlRewriteGenerator\VirtualRotationStreamHandler</item>
                <item name="mail" xsi:type="object">SoftCommerce\Core\Logger\Handler\MailStreamHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="SoftCommerce\UrlRewriteGenerator\Cron\Backend\ProductUrlGenerator">
        <arguments>
            <argument name="logger" xsi:type="object">SoftCommerce\UrlRewriteGenerator\VirtualLogger</argument>
            <argument name="urlRewrite" xsi:type="object">SoftCommerce\UrlRewriteGenerator\Model\ProductUrlRewrite</argument>
        </arguments>
    </type>
</config>
